<div class="event">
	<div id = 'post_container'>
		<h3><%= event.title %></h3>
		<p><%= event.body %></p>
		<p><%= event.created_at.in_time_zone("Pacific Time (US & Canada)").to_formatted_s(:long_ordinal)%>
	</div>
</div>