<div id = "center">
 <div id="login_signup">
  <% if flash[:error] -%>
  <div class="error">
  <h4>
    <% flash[:error].full_messages.each do |message| %>
    <h4><%= message %></h4>
    <%end %>
    <p>Your Sign In failed, please try again. </p> 
    <p>Email addresses must contain an '@' and '.com' or similar domain-ending.</p> 
    <p>Passwords must be 6 characters or longer.</p>
  </h4>
  </div>
  <% end -%>
  <button id='log_in'>LogIn</button><br>
  <button id='sign_up'>SignUp</button>
</div>

<div id="footer">
</div>