<div id="header">
<ul>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
</ul>

</div>


<div id="feed">

</div>

<div class="twelve_columns" id="footer">
  <ul>
    <li><button id="confront">Battle!</button></li>
    <li><button id="rules">View Rules</button></li>
    <li>Your Personal Id: <span></span></li>
  </ul>
</div>
