<div class="content">
<div class="header">
<ul>
<li><span></span></li>
<li><span></span></li>
<li><span></span></li>
</ul>
<%= link_to "logout", session_path(@user), :method => 'DELETE' %>
</div>
<div class="sidebar1"></div>
<div id="feed">
<%= render partial: "events/event", collection: @events %>

</div>
<div class="sidebar2"></div>
<div class="twelve_columns" id="footer">
  <ul>
    <li><button><%= link_to "Battle!", new_battle_path, id: "confront", remote: "true" %></button></li>
    <li><button id="rules">View Rules</button></li>
    <li><h2>Your Personal Id: <%= @user.handle %></h2><span></span></li>
  </ul>
</div>
</div>