<div id="game-over" >
  <h1>GAME OVER</h1>
  <p>Please join us again every day at 6pm. Signups begin at 8am daily.</p>
<!-- if @game_finished  -->
  <div id= "stats">
    <%= render partial: "statistics/stats" %>
  </div>

</div>