<p>Here is a new battle</p>
<form action="" method="post" id="new-battle">
<label for="opponent_id">Enter your opponent's secret code: </label>
<input type="text" name="opponent_id">
<input type="submit">
</form>







