// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#header {
  position:fixed;
  height:20%;
  background-color:blue;
}

#footer {
  position: fixed;
  height: 20%;
  background_color:green;
}